#CenterBox{
    
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0%;
    background-color: white;
    overflow: auto;
    border: 2px solid rgb(116, 116, 116);
}
h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.centerimg{
    position: relative;
    margin-left: 35%;
}
#img02{
    position: relative;
    margin-left: 30%;
}
#img04{
    position: relative;
    margin-left: 10%;
}
body{
    background-color: rgb(238, 238, 238);
    
    
}
h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-indent: 2em;
}
#dir{
    position: fixed;
    border: white;
    border-radius: 10%; 
    border-style:dotted;
    right: 6%;
    width: 200px;
    top: 20%;

}
li{
    color: black;

}
a:visited{
    color: rgb(95, 69, 69);
}
a:link{
    color: rgb(151, 151, 151);
}
#chapters{
    position: fixed;
    top: 20%;
    left: 5%;
    border: black solid 1px ;
}
.newimg{
    position: relative;
    left: 15%;
}
.contentItem{
    font-size: 20px;
}
.notes{
    color: red;
}
b{
    color: rgb(43, 44, 44);
}
h3{
    text-indent: 2em;
}
.backbtn{
    position: fixed;
    top: 40%;
    left: 5%;
    font-size: 16px;
    width: 100px;
}
#blink:hover{
    color: brown;
}
#blink:visited{
    color: black;
}
#blink:active{
    color: black;
}
.nextbtn{
    position: fixed;
    top: 45%;
    left: 5%;
    font-size: 16px;
    width: 100px;
}
#gkoc{
    position: fixed;
    left: 8.5%;
}
.update{
    font-size: 5px;
    text-align: right;
}