#CenterBox{
    
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0%;
    background-color: white;
    overflow: auto;
    border: 2px solid rgb(116, 116, 116);
}
h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.centerimg{
    position: relative;
    margin-left: 35%;
}
#img02{
    position: relative;
    margin-left: 30%;
}
#img04{
    position: relative;
    margin-left: 10%;
}
body{
    background-color: rgb(238, 238, 238);
}
h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
#dir{
    position: fixed;
    border: white;
    border-radius: 10%; 
    border-style:dotted;
    right: 6%;
    width: 200px;
    top: 20%;

}
li{
    color: black;

}
a:visited{
    color: black;
}
a:link{
    color: #555;
}
#chapters{
    position: fixed;
    top: 20%;
    border: black solid 1px ;
}
.newimg{
    position: relative;
    left: 15%;
}